//CUSTOM FONTS
@font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-Black.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-Bold.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-Light.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-Medium.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-Regular.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-UltraBold.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Telegraf';
    src: url('/../../assets/fonts/Telegraf-UltraLight.woff2') format('woff2'),
         url('/../../assets/fonts/Telegraf-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }